.card {
  width: 336px;
  height: 120px;
  border: 0.5px solid rgb(242, 242, 242);
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  padding: 16px 16px 8px;
}

.infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.2rem;
}

.infos span {
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
  font-size: 12px;

}

.infos .fase {
  text-overflow: ellipsis;
}
.infos .rodada,
.fase,
.data,
.horario {
  color: #333333;
}

.fiquePorDentro {
  border: 0.5px solid var(--primary-color);
  padding: 0.2rem;
  border-radius: 0.4rem;
  font-weight: bolder;
  color: var(--primary-color);
  text-transform: uppercase;
  white-space: nowrap;
  width: auto;
  flex-shrink: 0;
  margin-left: auto;
}

.matches {
  margin-top: 0.8rem;
}

.matches span {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.matches img {
  width: 24px;
}

.ondeAssistir {
  background-color: #ffffff;
  border: 0.5px solid rgb(242, 242, 242);
  border-top: none;
  width: 336px;
  height: 50px;
  text-align: center;
  color: rgb(6, 170, 72);
  font-weight: 700;
  border-radius: 0 0 5px 5px;

  box-shadow: 0px 8px 4px -6px rgba(0, 0, 0, 0.211);
  -webkit-box-shadow: 0px 8px 4px -6px rgba(0, 0, 0, 0.211);
  -moz-box-shadow: 0px 8px 4px -6px rgba(0, 0, 0, 0.211);

  cursor: pointer;
}
.ondeAssistir span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ondeAssistir svg {
  margin-right: 0.4rem;
}
