.dateNavBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.dateNavBarWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 1rem;
}

.date{
    background-color: #eeeeee80;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 1rem 1rem;
    font-size: 14px;
    cursor: pointer;
}

.number{
    margin-top: .7rem;
}


.weekday{
    margin-top: 2rem;
    color: #ccc;
    font-weight: 100;
}

.selected{
    width: 48px;
    height: 48px;
    font-size: 18px;
    background-color: var(--primary-color);
    color: #ffffff;
}

.currentDay{
    color: #333333;
    font-weight: 500;
}

.arrows{
    background-color: transparent;
    border: none;
    color: var(--primary-color);
   
}

.arrows svg{
    font-size: 18px;
    cursor: pointer;
}
